.failure-snackbar{
    .data{
        background-color: #FCE1E7;
        color: #C41D18 !important;
    }
}
.success-snackbar{
    background-color: #44B678;
    color: #FFFFFF;
}
.app{
    overflow-y: hidden;
    overflow-x: hidden;
}