<div class="app">
    @if(showSideNav){
        <app-sidenav></app-sidenav>
        <!-- for larger screens, -->
         @if(!isMobile){
             <div class="row">
                 <div class="col-2">
                     <app-leftmenu></app-leftmenu>
                 </div>
                 <div class="col-10">
                     <router-outlet />
                 </div>
             </div>
         }@else {
             <!-- for smaller screens -->
             <router-outlet />
         }

    }@else {
        <router-outlet />
    }
</div>
