/* You can add global styles to this file, and also import other style files */
/* Tailwind configuration */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --mdc-dialog-container-shape:10px;
  
}
/* Custom input and button styles */
.input {
  @apply p-2 border rounded w-full;
}
/* .btn {
  @apply px-4 py-2 rounded text-white;
} */
/* // login/register css */
*,.mat-typography{
  font-family: "Poppins" !important;
}
mat-error{
  color:#a72e2e;
  display: block;
}
.disabled{
  pointer-events: none;
  opacity: 0.6;
}
/* //snackbar css */
.snackbar{
    padding:15px;
    height:max-content;
    /* // min-width: 40vw; */
    max-width:95vw;
    text-align: center;
    border-radius: 5px;
    font-size: var(--font-16);
    position: relative !important;
    bottom: 45px !important;
}
.mat-mdc-snack-bar-container {
    .mdc-snackbar__surface{
        background-color: transparent !important;
        box-shadow: none !important;
        min-width:auto !important;
    }
    .mdc-snackbar__label{
        color:unset !important;
        padding:0 !important;
    }
}

.failure-snackbar{
    background-color: #FCE1E7;
    color: #C41D18 !important;
}
.success-snackbar{
    background-color: #44B678;
    color: #FFFFFF;
}
/* From Uiverse.io by micaelgomestavares */ 
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
  }
  
  ::placeholder {
  }
  
  .form button {
    align-self: flex-end;
  }
  
  .flex-column > label {
    color: #151717;
    /* font-weight: 600; */
  }
  
  .inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
  }
  
  .input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
  }
  
  .input:focus {
    outline: none;
  }
  
  .inputForm:focus-within {
    border: 1.5px solid #2d79f3;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
  }
  
  .span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
  }
  
  .button-submit:hover {
    background-color: #252727;
  }
  
  .p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
  }
  
  /* .btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .btn:hover {
    border: 1px solid #2d79f3;
    ;
  } */
  
      
html, body { height: 100%; }
body { margin: 0; font-family: "Poppins" !important; }



mat-sidenav {
  background-color: var(--sidenav-bg-color);
  width: 20%;
  position: fixed;
}

mat-sidenav .sidenav-info-wrapper {
  padding: 18px;
}

mat-sidenav .sidenav-info-wrapper .sidenav-logo-header {
  display: flex;
  align-items: unset;
  justify-content: space-between;
}

mat-sidenav .sidenav-info-wrapper .sidenav-logo-header .sidenav-logo-container {
  width: 32px;
  height: 42px;
}

mat-sidenav .sidenav-info-wrapper .sidenav-logo-header .sidenav-close-section {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

mat-sidenav .sidenav-info-wrapper .sidenav-info-container {
  background-color: var(--sidenav-info);
  padding: 15px;
  margin-top: 20px;
}

mat-sidenav .sidenav-info-wrapper .sidenav-info-container .sidenav-row {
  display: flex;
  align-items: center;
}

mat-sidenav .sidenav-info-wrapper .sidenav-info-container .sidenav-row .sidenav-col .sidenav-profile-img-container {
  height: 25px;
  width: 25px;
  margin-right: 15px;
  position: relative;
}

mat-sidenav .sidenav-info-wrapper .sidenav-info-container .sidenav-row .sidenav-col .sidenav-profile-img-container .profile-img {
  border-radius: 50%;
}

mat-sidenav .sidenav-info-wrapper .sidenav-info-container .sidenav-row .sidenav-col .sidenav-profile-img-container .online-status {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #00AF00;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

mat-sidenav .sidenav-info-wrapper .sidenav-info-container .sidenav-row .sidenav-col .profile-name,
mat-sidenav .sidenav-info-wrapper .sidenav-info-container .sidenav-row .sidenav-col .profile-role {
  color: var(--white-text);
}

mat-sidenav .sidenav-info-wrapper .sidenav-info-container .sidenav-row .sidenav-col .profile-name {
  font-size: var(--font-13);
}

mat-sidenav .sidenav-info-wrapper .sidenav-info-container .sidenav-row .sidenav-col .profile-role {
  font-size: var(--font-10);
}

mat-sidenav .sidenav-list-item-wrapper {
  display: flex;
  justify-content: space-between;
}

mat-sidenav .sidenav-active-item-icon-container {
  width: 18px;
  height: 13px;
}

mat-sidenav .sidenav-list-item-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

mat-sidenav .sidenav-list-item-container .sidenav-list-img-container {
  width: 24px;
  height: 30px;
}

mat-sidenav .sidenav-list-item-container .sidenav-list-text {
  color: var(--white-text);
  padding-left: 15px;
  font-size: var(--font-16);
}

mat-sidenav .sidenav-button-wrapper {
  padding: 18px;
  cursor: pointer;
}

mat-sidenav .sidenav-button-wrapper .sidenav-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-background);
  border-radius: 8px;
  padding: 10px;
  position: absolute;
  width: 90%;
  bottom: 20px;
}

mat-sidenav .sidenav-button-wrapper .sidenav-button-container .sidenav-button {
  color: var(--white-text);
  font-size: var(--font-13);
  padding: 0 0 0 10px;
  outline: none;
  border: none;
}

.children-menu {
  background-color: #1D1E58;
}

.active-nav-item .active-icon {
  display: inline-block; 
}

.inactive-nav-item .active-icon {
  display: none;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  height: 100vh;
  position: fixed;
}

.sidenav-items-list mat-expansion-panel {
  background-color: transparent;
}

.dropdown-icon-container {
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.dropdown-icon {
  width: 100%;
  height: 100%;
}

.overflow-hidden{
  overflow: hidden;
}
.overflow-x-auto{
  overflow-x: auto;
}